.App {
  display: flex;
  font-family: 'IBM Plex Sana Thai Looped',sans-serif;
}

.body_container {
  flex: 1;
  background-color:blue;
}
.sidebar_container {
  display: flex;
  height: 100vh;
  background-color: blueviolet;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: center;
}

.sidebar{
  display: flex;
  width: 14rem;
  height: 90%;
  justify-content: flex-start;
  align-items:flex-start;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  margin: 10px; 
}

.lines_icon {
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
  border: 1px solid black;
}

.profile {
  display: flex;
  width: 4rem;
  align-self: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 50%;

}

.profile>img {
  width: 100%;
  border-radius: 50%;
}